*{
	padding: 0;
	margin: 0;
}

nav{
	width: 100%;
	background: black;
	height: 70px;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
}

ul li{
	float: left;
	margin-top: 20px;
}

ul li a{
	width: 150px;
	color: white;
	display: block;
	text-decoration: none;
	font-size: 15px;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	font-family: sans-serif;
	font-weight: bold;
}

a:hover{
	background: white;
}

.home{
	background: url(../images/bg.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.home > div > h1{
	color: orange;
}

.btn {
	background-color: green;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
}

.btn:hover {
	background-color: darkgrey;
}

.content{
	background:url(../images/bg4.jpg);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

h1, .content {
	color: blue;
	text-align: center;
}

p, .content{
	color: gold;
}

.bottom{
	background:url(../images/bg2.jpeg);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom > p{
	color: gold;
}

img {
	border-radius: 50%
}

h2, .bottom {
	color: skyblue;
	text-align: center;
}

p, h2 {
	color: gold;
}

.fourthrow {
	background:url(../images/bg3.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1, .fourthrow{
	color: red;
}

.fourthrow > div >img{
	height: 200px;
	width: 200px;
	border-radius: 20px;
}

.pics > img{
	transition: 4s;
}

.pics > img:hover{
	transform: scale(1.6);
}

.forms > form {
	height: 60vh;
	background: url(../images/typing.jpg);
	text-align: center;
	padding: 100px;
	align-items: left;
}

form > h4{
	font-size: 50px;
	text-align: center;
	margin: 10px;

}

input {
	display: block;
	border: 1px solid brown;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px;
	align-items: center;
}
